#jinja2: lstrip_blocks: "True"
[Unit]
Description=LCSaveEditor ({{ lcsave_identifier }})
{% for service in lcsave_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} kill {{ lcsave_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ lcsave_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name={{ lcsave_identifier }} \
			--log-driver=none \
			--network={{ lcsave_container_network }} \
			--cap-drop=ALL \
			--env-file={{ lcsave_base_path }}/env \
			--label-file={{ lcsave_base_path }}/labels \
			--tmpfs=/tmp:rw,noexec,nosuid,size=512m \
			{% for arg in lcsave_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ lcsave_container_image }}

{% for network in lcsave_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ lcsave_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ lcsave_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} kill {{ lcsave_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ lcsave_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ lcsave_identifier }}

[Install]
WantedBy=multi-user.target
